#enable_html_escaping()
#if ($searchRequest)
    #set ($urlPrefix = "${req.contextPath}/secure/IssueNavigator.jspa?reset=true")
    #set ($urlBrowsePrefix = "${req.contextPath}/browse/")
#end

#macro(issueLine $issue $currentComponent)
	#if ((!$issue.getParentObject() && !$issue.getIssueTypeObject().getName().equals("Release Process")) || ($issue.getParentObject() && !$issue.getParentObject().getIssueTypeObject().name.equals("Release Process")))
<tr>
	<td width="2%"> </td>
	<td width="3%"> </td>
	<td width=5%>#displayType($issue)</td>
	<td width=5% nowrap><a href="$req.contextPath/browse/$issue.getKey()">$issue.getKey()</a></td>
	<td nowrap width=5%>
		#if ($issue.getPriorityObject())
			#displayConstantIcon($issue.getPriorityObject())
		#end
	</td>
	<td width=45%>
	    #if ($issue.isSubTask())
	        <a href="$req.contextPath/browse/$issue.getParent().getString('key')" style="text-decoration: none; " title="$issue.getParent().getString('summary')"> $issue.getParent().getString('key')</a><br>
	        <img src="$req.contextPath/images/icons/link_out_bot.gif" width="16" height="16" border="0" align="absmiddle">
	    #end
		#if ($customFieldManager.getCustomFieldObjectByName("Changelog Notes") && $issue.getCustomFieldValue($customFieldManager.getCustomFieldObjectByName("Changelog Notes")))
			$issue.getCustomFieldValue($customFieldManager.getCustomFieldObjectByName("Changelog Notes"))
		#else
	    	<i>$issue.getSummary()*</i>
	    #end
	</td>
    <td width=10%>
		#if ($issue.getComponents().size() > 0)
			#set ($allComponents = $issue.getComponents())
			#if ($allComponents.size() > 0)
			#foreach ($otherComponent in $allComponents)
				#if (!$currentComponent.getName().equals($otherComponent.getName()))
					$otherComponent.getName()
				#end
			#end
		#end
		#end
    </td>
    <td width=15%>
		#if ($issue.getFixVersions().size() > 0)
			#set ($allVersions = $issue.getFixVersions())
			#if ($allVersions.size() > 0)
			#foreach ($otherVersion in $allVersions)
				#if (!$version.getName().equals($otherVersion.getName()))
					<a href="${req.contextPath}/secure/ConfigureReport.jspa?versionId=$otherVersion.getId()&selectedProjectId=$projectId&reportKey=org.jahia.modules.jira.reports.jira-report-plugin%3Aproject-report-by-version-and-component&Next=Next">
					$otherVersion.getName()
                    </a>
				#end
			#end
		#end
		#end
    </td>
	<td nowrap width=10%>
		<span id="status-val" class="value">
        	<span class=" jira-issue-status-lozenge aui-lozenge jira-issue-status-lozenge-$issue.getStatusObject().getStatusCategory().getColorName() jira-issue-status-lozenge-max-width-medium">$issue.getStatusObject().getName()</span>
		</span>


	</td>
</tr>
	#end
#end

#macro(issueLineHtml $issue)
	#if ((!$issue.getParentObject() && !$issue.getIssueTypeObject().getName().equals("Release Process")) || ($issue.getParentObject() && !$issue.getParentObject().getIssueTypeObject().name.equals("Release Process")))
		#set ($icon = "fa-paper-plane")
		#if ($issue.getIssueTypeObject().getName().contains("Bug"))
			#set ($icon = "fa-bug")	
		#end
		
		#if ($customFieldManager.getCustomFieldObjectByName("Changelog Notes") && $issue.getCustomFieldValue($customFieldManager.getCustomFieldObjectByName("Changelog Notes")))
	    	<li><span class="fa-li"><i class="fas $icon"></i></span>$issue.getCustomFieldValue($customFieldManager.getCustomFieldObjectByName("Changelog Notes"))</li>
	    #else
	    	<li><span class="fa-li"><i class="fas $icon"></i></span><i>$issue.getSummary()*</i></li>
	    #end
	#end
#end

#macro(filterTitle $value)
$i18n.getText('report.reportbyversionandcomponent.mapper.filterid.name'): <a href="${urlPrefix}$!searchService.getQueryString($user, $searchRequest.getQuery())">$value</a>
#end

#macro(versionTitle $projectName $version)
<a href="${urlBrowsePrefix}$projectName">$projectName</a> -
	#if ($version)
<a href="${urlPrefix}$!searchService.getQueryString($user, $query)">#versionName ($version)</a> ($releaseStatus)
	#else
$i18n.getText("common.words.none")
	#end
#end

<table width="100%" class="aui" id="single_groupby_report_table">
    <thead>
    <tr>
        <th colspan="9">
            <h2>#versionTitle($projectName $version)</h2>
        </th>
    </tr>
    </thead>
    <tbody>
			$statsGroup.buildComponentMap($version)

            #set ($components = $statsGroup.getComponents($version))
            #if ($components.size() > 0)
                #foreach ($component in $components)
                	#set ($issues = $statsGroup.getIssuesByComponent($version, $component))
		            #if ($issues.size() > 0)
        <tr>
            <td width="5%"> </td>
            <td colspan="8">#statHeading ("components" $component $customFieldManager "") $component.getName()</td>
        </tr>
		                #foreach ($issue in $issues)
		                	#issueLine ($issue $component)
		                #end
        			#end
            	#end
            #end
                   
	        #set ($issues = $statsGroup.getIssuesWithoutComponent($version))
	        #if ($issues.size() > 0)
        <tr>
            <td width="5%"> </td>
            <td colspan="8">No components</td>
        </tr>
	            #foreach ($issue in $issues)
	            	#issueLine ($issue)
                #end
            #end
    </tbody>
</table>
<br />
<i>* There is no changelog notes for this issue so the summary has been displayed instead</i>
<br />
<br />
<textarea rows="30" cols="120" id="editcopy">
	#set ($components = $statsGroup.getComponents())
	#if ($components.size() > 0)
		#foreach ($component in $components)
			#set ($issues = $statsGroup.getIssuesByComponent($version, $component))
		    #if ($issues.size() > 0)
<h3>$component.getName()</h3>
<ul class="fa-ul">
		    	#foreach ($issue in $issues)
		    		#issueLineHtml ($issue)
		    	#end
</ul>
		    #end	
		#end
	#end
	        
	#set ($issues = $statsGroup.getIssuesWithoutComponent($version))
	#if ($issues.size() > 0)
<h3>No components</h3>
<ul class="fa-ul">
    	#foreach ($issue in $issues)
    		#issueLineHtml ($issue)
    	#end
</ul>
	#end
</textarea>