#enable_html_escaping()
#if ($searchRequest)
    #set ($urlPrefix = "${req.contextPath}/secure/IssueNavigator.jspa?reset=true")
    #set ($urlBrowsePrefix = "${req.contextPath}/browse/")
#end

#macro(issueLine $issue)
<td width=5%>#displayType($issue)</td>
<td width=5% nowrap><a href="$req.contextPath/browse/$issue.getKey()">$issue.getKey()</a></td>
<td nowrap width=5%>
	#if ($issue.getPriorityObject())
		#displayConstantIcon($issue.getPriorityObject())
	#end
</td>
<td width=80%>
    #if ($issue.isSubTask())
        <a href="$req.contextPath/browse/$issue.getParent().getString('key')" style="text-decoration: none; " title="$issue.getParent().getString('summary')"> $issue.getParent().getString('key')</a><br>
        <img src="$req.contextPath/images/icons/link_out_bot.gif" width="16" height="16" border="0" align="absmiddle">
    #end
	#if ($customFieldManager.getCustomFieldObjectByName("Changelog Notes") && $issue.getCustomFieldValue($customFieldManager.getCustomFieldObjectByName("Changelog Notes")))
    	$issue.getCustomFieldValue($customFieldManager.getCustomFieldObjectByName("Changelog Notes"))
    #else
    	<i>$issue.getSummary()*</i>
    #end
</td>
<td nowrap width=5%>
	$issue.getStatusObject().getName()
</td>
#end

#macro(issueLineHtml $issue)
	#if ($issue.getIssueType().getName().contains("Bug"))
		#set ($icon = "fa-bug")
	#else
		#set ($icon = "fa-paper-plane")
	#end
	#if ($customFieldManager.getCustomFieldObjectByName("Changelog Notes") && $issue.getCustomFieldValue($customFieldManager.getCustomFieldObjectByName("Changelog Notes")))
    	<li><span class="fa-li"><i class="fas $icon"></i></span>$issue.getCustomFieldValue($customFieldManager.getCustomFieldObjectByName("Changelog Notes"))</li>
    #else
    	<li><span class="fa-li"><i class="fas $icon"></i></span><i>$issue.getSummary()*</i></li>
    #end
#end

#macro(filterTitle $value)
$i18n.getText('report.reportbyversionandcomponent.mapper.filterid.name'): <a href="${urlPrefix}$!searchService.getQueryString($user, $searchRequest.getQuery())">$value</a>
#end

#macro(versionTitle $projectName $version)
<a href="${urlBrowsePrefix}$projectName">$projectName</a> - 
	#if ($version)
<a href="${urlPrefix}$!searchService.getQueryString($user, $query)">#versionName ($version)</a> ($releaseStatus)
	#else
$i18n.getText("common.words.none")
	#end
#end

<table width="100%" class="aui" id="single_groupby_report_table">
    <thead>
    <tr>
        <th colspan="6">
            <h2>#versionTitle($projectName $version)</h2>
        </th>
    </tr>
    </thead>
    <tbody>
            #set ($components = $statsGroup.getComponents())
            #if ($components.size() > 0)
                #foreach ($component in $components)
                	#set ($issues = $statsGroup.getIssuesByComponent($version, $component))
		            #if ($issues.size() > 0)
        <tr>
            <td width="5%"> </td>
            <td colspan="6">#statHeading ("components" $component $customFieldManager "") $component.getName()</td>
        </tr>
		                #foreach ($issue in $issues)
		                	#if ((!$issue.getParentObject() && !$issue.getIssueType().getName().equals("Release Process")) || ($issue.getParentObject() && !$issue.getParentObject().getIssueType().name.equals("Release Process")))
	                	<tr>
		                    <td width="5%"> </td>
            				<td width="5%"> </td>
		                    #issueLine ($issue)
		                </tr>
	                		#end
		                #end
        			#end
            	#end
            #end
                   
	        #set ($issues = $statsGroup.getIssuesWithoutComponent($version))
	        #if ($issues.size() > 0)
        <tr>
            <td width="5%"> </td>
            <td colspan="6">No components</td>
        </tr>
	            #foreach ($issue in $issues)
	            	#if ((!$issue.getParentObject() && !$issue.getIssueType().getName().equals("Release Process")) || ($issue.getParentObject() && !$issue.getParentObject().getIssueType().name.equals("Release Process")))
	                <tr>
	                    <td width="5%"> </td>
        				<td width="5%"> </td>
	                    #issueLine ($issue)
	                </tr>
	                #end
                #end
            #end
    </tbody>
</table>
<br />
<i>* There is no changelog notes for this issue so the summary has been displayed instead</i>
<br />
<br />
<textarea rows="30" cols="120" id="editcopy">
	<h2>$version.getName()</h2>
	
	#set ($components = $statsGroup.getComponents())
	#if ($components.size() > 0)
		#foreach ($component in $components)
			#set ($issues = $statsGroup.getIssuesByComponent($version, $component))
		    #if ($issues.size() > 0)
	<h3>$component.getName()</h3>
		<ul class="fa-ul">
		    	#foreach ($issue in $issues)
		    		#if ((!$issue.getParentObject() && !$issue.getIssueType().getName().equals("Release Process")) || ($issue.getParentObject() && !$issue.getParentObject().getIssueType().name.equals("Release Process")))
	                	#issueLineHtml ($issue)
	                #end
		    	#end
		</ul>
		    #end	
		#end
	#end
	        
	#set ($issues = $statsGroup.getIssuesWithoutComponent($version))
	#if ($issues.size() > 0)
		<ul class="fa-ul">
    	#foreach ($issue in $issues)
    		#if ((!$issue.getParentObject() && !$issue.getIssueType().getName().equals("Release Process")) || ($issue.getParentObject() && !$issue.getParentObject().getIssueType().name.equals("Release Process")))
            	#issueLineHtml ($issue)
            #end
    	#end
		</ul>
	#end
</textarea>